/* Define application theme */

dwc-app-layout {
  --dwc-app-layout-header-height: 60px;
  --dwc-app-layout-drawer-width: 15em;
  background-image: url(cropped_image_40.jpg);
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

dwc-app-layout::part(content) {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

dwc-app-layout::part(drawer) {
  opacity: .85;
}

dwc-app-nav {
  margin: 0;
}

dwc-app-nav-item::part(link) {
  margin-left: var(--dwc-space-s);
  gap: var(--dwc-space-m);
}

dwc-app-nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--dwc-space-xs);
  background-color: transparent;
  transition: background-color 0.3s ease;
}

dwc-app-nav-item[selected]::before {
  background-color: var(--dwc-color-primary);
}

sl-badge::part(base) {
  border: none;
}

.app-drawer__header {
  background-color: var(--dwc-surface-2);
  min-width: 100%;
  padding: 14px 0;
  opacity: 1;
}

.app-drawer__progress {
  margin: 3em 0;
}

.app-drawer__progress > div > sl-progress-ring {
  --size: 80px;
  --track-color: var(--dwc-surface-1);
}

.app-drawer__progress > div > sl-progress-ring::part(label) {
  font-size: 1.75em;
  font-weight: 300;
}

.app-drawer__progress > div > p {
  font-size: 1.1em;
  font-weight: 400;
}

.app-drawer__progress > div:first-child > sl-progress-ring {
  --indicator-color: #ffa052;
}

.info-display {
  order: 2;
}

.home-view {
  overflow: auto;
}

.home-view__cover{
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.home-view__table{
  height: 100%;
  width: 100%;
}

.home-view__table::part(header){
  /* display: none; */
}

.home-view__table::part(badge){
  padding: 5px;
  border-radius: 100%;
  margin: 1em;
}

.home-view__table::part(badge-high){
  background-color: #4CAF50	;
}

.home-view__table::part(badge-low){
  background-color: #ffa052	;
}

.home-view__table::part(badge-medium){
  background-color: #0284C7	;
}

.home-view__table::part(product-icon) {
  width: 30px;
  height: 30px;
  padding: 4px;
}