/* Define application theme */

dwc-app-layout {
  --dwc-app-layout-header-height: 60px;
  --dwc-app-layout-drawer-width: 15em;
}

dwc-app-layout::part(content) {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.app-drawer__header{
  background-color: var(--dwc-surface-2);
  min-width: 100%;
  padding: 14px 0
}

.app-drawer__progress{
  margin: 3em 0;
}

.app-drawer__progress > div > sl-progress-ring{
  --size: 80px;
  --track-color: var(--dwc-surface-1);
}

.app-drawer__progress > div > sl-progress-ring::part(label){
  font-size: 1.75em;
  font-weight: 300;
}

.app-drawer__progress > div > p {
font-size: 1.1em;
font-weight: 400;
}

.app-drawer__progress > div:first-child > sl-progress-ring{
  --indicator-color:#FFA052
}

.info-display{
  order: 2;
  background-color: red;
}

.home-view{
  overflow: auto;
}